@font-face {
    font-family: Rumble Brave;
    src: url("Rumble Brave.otf");
    
}
@font-face {
    font-family: UrbanSlavic;
    src: url("UrbanSlavic.otf");
}
* {
     margin: 0;
     padding: 0;
}
.linksMain {
    display: flex;
    flex-direction: row;
    position: relative;
    /* justify-content:flex-end; */
}

.imageContainer {
    position: absolute; /* relative a linksMain */
    right: 0; 
    z-index: -1; /* en arriere */
    margin-top: 40%;}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}
body {
    padding-left: 20%;
    padding-right: 20%;
}
#web, #cv, #graphisme {
    font-size: min(4vw, 53vh);
    font-family: Rumble Brave;
    color: white;
    margin: auto auto auto 43%;
}
        @media (max-width : 500px) {
            body {
                padding-left: 3%;
                padding-right: 3%;
            }
            #web, #cv, #graphisme{
                font-size: min(6.5vw, 53vh);
                font-family: Rumble Brave;
                color: white;
                margin: auto 5% auto 20%;
            }
        }
.linksMainFlex {
    position: absolute; /* relative a imageContainer */
    display: flex;
    flex-direction: column;
    margin-top: 43%;
    height: 7vh;
    margin-left: 16px;
}
/*web*/
.miniatureWeb {
    border: solid 2px black;
    width: 10%;
    height: 7%;
}
.textWeb {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:1vw;
    color: black;
}

#languageSelect {
    margin: 10% auto 0% 80%;
    border: none;
    font-size: min(2.5vw, 53vh);
}
.about {
    font-size: 1.7vw;
    height: 20%;
    color: rgb(255, 255, 255);
    max-width: 45vw;
    margin-top: 26vw;
    margin-left: 55%;
}  
#graphPart, #cvPart, #webPart {
    width: 100%;
    height: 30vh;
    display: none;
}
.parts {
    margin-top: 10vw;
    
}#webPart {
    display: none;   
}
.webPartImage {
    height: 12vw;
    width: 70vw;
    border: solid 2px black;
}


/*webPart*/
.webPart {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}


/*webPart*/
.cvPart {
    background-color: red;
}


/*webPart*/
.graphPart {
    background-color: pink;
}
a {
    text-decoration: none;
}
.titre {
}
.nom {
    font-size: min(8.1vw, 53vh);
    color:black;
    margin-top: 9vw;
}
.nom, .sousTitre{
    font-family: Rumble Brave;
    color:black;
    position: absolute;
    margin-left: 1vw;
}
.sousTitre {
    font-family: Rumble Brave;
    font-size: min(3.9vw, 53vh);
    margin-top: 17vw;
    margin-left: 1vw;
}
@media (max-width : 500px) {/*///////////////////////////mobile///////////////*/
            .about {
                font-size: 3vw;
                height: 20%;
                color:white;                
                margin-top: 42vw;
            }
            .nom {
                margin-top: 20vw;
            }
            .about {
                color:white;
            }
            .sousTitre {
                margin-top: 30vw;
            }
        }            
.logos {
    display: flex;
    flex-direction: row;
    width: 30vw;
    margin: 5% 50%;
}
.logosPictures {
    padding: 0%;
    height: 100%;
    margin: 0% 5% 0% 5%;
}
.descriptionSite {
    font-size: 1.7vw;
    height: 20%;
    color: black;
    margin-top: 1vw;
    margin-left: 3%;
}
